:root {
  --text-color: #333;
  --heading-1-color: white;
  --heading-2-color: #2F4F4F;
  --heading-3-color: turquoise;
  --button-background-color: #f4511e;
  --button-color: #FFFFFF;
  --card-background-color: rgba(255, 120, 0, 0.8);
  --background-color: lightcyan;
  /* #F0FFF0 */
}
 .form-header {
  position: absolute;
  top: 10rem;
  left: 20rem;
}
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: turquoise;
}

.loader-wrapper .text {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 0 100px;
  color: rgba(255, 255, 255, .7);
  text-transform: uppercase;
  font-size: 11px;
  font-family: sans-serif, helvetica;
  letter-spacing: .5px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  height: 24px;
  border-left: 8px solid #fff;
  border-right: 8px solid #fff;
  overflow: hidden;
}

.loader .ball {
  height: 8px;
  width: 0;
  background: white;
  position: relative;
  margin: 0;
}

.loader .ball:nth-child(1) {
  -webkit-animation: ball 2s ease-in-out infinite;
  animation: ball 2s ease-in-out infinite;
}

.loader .ball:nth-child(2) {
  -webkit-animation: ball 2s ease-in-out .1s infinite;
  animation: ball 2s ease-in-out .1s infinite;
}

.loader .ball:nth-child(3) {
  -webkit-animation: ball 2s ease-in-out .2s infinite;
  animation: ball 2s ease-in-out .2s infinite;
}

@-webkit-keyframes ball {
  0% {
    left: 0;
    width: 0px;
  }
  25% {
    left: 0;
    width: 300px;
  }
  50% {
    left: 300px;
    width: 0px;
  }
  75% {
    left: 0;
    width: 300px;
  }
  100% {
    left: 0;
    width: 0px;
  }
}

@keyframes ball {
  0% {
    left: 0;
    width: 0px;
  }
  25% {
    left: 0;
    width: 300px;
  }
  50% {
    left: 300px;
    width: 0px;
  }
  75% {
    left: 0;
    width: 300px;
  }
  100% {
    left: 0;
    width: 0px;
  }
}



svg.greencross {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
}
span.inline_SVG_target {
  position: relative;
}

.hero img {
  max-width: 1600px;
  width: 100%;
  

}

a {
  text-decoration: none;

}
a:link:hover {
  text-decoration: underline;
  
}

a:not([href]) {
  color: var(--text-color);
}

img.house_icon {
  height: 25px;
  width: 25px;
}

body {
  font-family: cursive;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 1.3rem;
  background-color: var(--background-color);
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  color: var(--heading-1-color);
}

h2 {
  font-family: 'Festive', cursive;
  color: var(--heading-2-color);
  margin: (3.5rem, 0, 0)
}

h2 .house {
  max-width: 90rem;
}
h3 {
  font-family: 'Pacifico', cursive;
  color: var(--heading-3-color);
  margin: (3rem, 0, 0)
}

main {
  max-width: 60rem;
  margin: 0 auto;
}

nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero {
  position: relative;
}
.hero h1 {
  margin: 0;
}
.hero .text-overlay {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 3rem;
  text-shadow: 2px 2px 3px rgba(0, 0, .3);


}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--button-background-color);
  border: none;
  color: var(--button-color);
  text-align: center;
  font-size: 13px;
  padding: 10px;
  width: 100px;
  transition: all .5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: .5s;
}

.button:hover span {
  padding-right: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

img {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  gap: 1rem;
  margin: 3rem 1rem;
}

.card {
  position: relative;
}

.cards .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--card-background-color);
  padding: 2rem;
  opacity: 0;
  transition: opacity 300ms;
  transition: all .5s;
}

.cards .text-overlay:hover {
  opacity: 1;
}

@media (max-width: 599px) {
  .cards {
    flex-direction: column;
    gap: 1rem;
    
  }
  .hero .text-overlay {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .cards {
    flex-wrap: wrap;
    flex-direction: row;

  }
  .card {
    flex: 1 1 40%;
  }
  .hero .text-overlay {
    font-size: 2.5rem;
  }
}

@media (min-width: 850px) {
  .cards {
    flex-wrap: nowrap;
  }
}