:root {
  --text-color: rgba(109, 107, 107, 0.983);;
  --heading-1-color: white;
  --heading-2-color: #2F4F4F;
  --heading-3-color: #333;
  --button-background-color: white;
  --button-color: rgb(247, 134, 153);
  --card-background-color: rgba(255, 120, 0, 0.8);
  --background-color: rgb(246, 217, 217);
  /* #F0FFF0 */
}
 form {
   background-color: teal;
 }
a {
  text-decoration: none;

}
a:link:hover {
  text-decoration: underline;
}

a:not([href]) {
  color: var(--text-color);
}

img.house_icon {
  height: 25px;
  width: 25px;
  display: inline;
}
.form-body {
  font-family: cursive;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 1.3rem;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  font-family: cursive;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 1.3rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
    align-self: center;
  max-width: 60rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
  
nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: grey;
  padding: 6rem 2rem 0;
}
/* basic <ul> menu setup */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  border-bottom: 1px solid #aaa;
}

nav li:last-child {
  border: none;
}

nav li a {
  display: inline-block;
  padding: 1em;
  font-size: 1.25rem;
  font-weight: 200;
  color: #fff;
}

nav li a:hover {
  text-decoration: underline;
}
.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  z-index: 2;
}

.menu-icon line {
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: round;
  transform-origin: center;
  transition: transform 300ms ease;
}

.menu-icon line:first-child {
  transform: translateY(16%);
}

.menu-icon line:last-child {
  transform: translateY(-16%);
}
/* JavaScript toggles a "close" class on the <nav> when the menu-icon is clicked */
.close nav {
  display: block;
}

.close line:first-child {
  transform: rotate(135deg);
}

.close line:last-child {
  transform: rotate(-135deg);
}

h1 {
  font-family: 'Pacifico', cursive;
  color: var(--heading-1-color);
}
/* font-family: 'Fjalla One', sans-serif; */
.about h1{
  color: #0d7c7c;
}
h2 {
  font-family: 'Festive', cursive;
  color: var(--heading-2-color);
}
 
h2 .house {
  max-width: 90rem;
}
h3 {
  font-family: 'Pacifico', cursive;
  color: var(--heading-3-color);
  
}

hr {
  margin: 6rem;
}

aside {
  width: 100%;
  /* background-color: green; */
 margin-bottom: 4rem;
  overflow: hidden;
}

footer h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}
footer ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6rem;
}
  footer > iframe   {
  height: 80vh;
  width: 100%;
  /* background-color: #f4511e; */
  justify-content: center;
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hero h1 {
  margin: 0;
}
.hero video {
  /* max-width: 1600px; */
  
  width: 100%;
  

}


.hero .text-overlay {
  position: absolute;
 
  text-shadow: 2px 2px 3px rgba(0, 0, .3);
  font-size: 3rem;

}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--button-background-color);
  border: none;
  color: var(--button-color);
  text-align: center;
  font-size: 13px;
  padding: 10px;
  width: 100px;
  transition: all .5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: .5s;
}

.button:hover span {
  padding-right: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.panel {
  display: flex;
  flex-direction: column;
}

.panel  .image-wrapper {
  /* make sure the image is dispalyed first   */
  order: -1;
  
  
}

.panel > .text-content {
  align-self: center;
}


.cards {
  display: flex;
  gap: 1rem;
  margin: 3rem 1rem;
}

.card {
  position: relative;
}

svg.greencross {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
}
span .houseimg {
  display: inline-block;
}
span.inline_SVG_target {
  position: relative;
}

.loader-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: black;
}

.loader-wrapper .text {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 0 100px;
  color: rgba(255, 255, 255, .7);
  text-transform: uppercase;
  font-size: 11px;
  font-family: sans-serif, helvetica;
  letter-spacing: .5px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  height: 24px;
  border-left: 8px solid #fff;
  border-right: 8px solid #fff;
  overflow: hidden;
}

.loader .ball {
  height: 8px;
  width: 0;
  background: white;
  position: relative;
  margin: 0;
}

.loader .ball:nth-child(1) {
  -webkit-animation: ball 2s ease-in-out infinite;
  animation: ball 2s ease-in-out infinite;
}

.loader .ball:nth-child(2) {
  -webkit-animation: ball 2s ease-in-out .1s infinite;
  animation: ball 2s ease-in-out .1s infinite;
}

.loader .ball:nth-child(3) {
  -webkit-animation: ball 2s ease-in-out .2s infinite;
  animation: ball 2s ease-in-out .2s infinite;
}

@-webkit-keyframes ball {
  0% {
    left: 0;
    width: 0px;
  }
  25% {
    left: 0;
    width: 300px;
  }
  50% {
    left: 300px;
    width: 0px;
  }
  75% {
    left: 0;
    width: 300px;
  }
  100% {
    left: 0;
    width: 0px;
  }
}

@keyframes ball {
  0% {
    left: 0;
    width: 0px;
  }
  25% {
    left: 0;
    width: 300px;
  }
  50% {
    left: 300px;
    width: 0px;
  }
  75% {
    left: 0;
    width: 300px;
  }
  100% {
    left: 0;
    width: 0px;
  }
}
@media (max-width: 599px) {
  .cards {
    flex-direction: column;
    gap: 1rem;
    
  }
  .hero .text-overlay {
    font-size: 1.5rem;
  }
  .hero img {
      object-fit:contain;
  }
  aside {
   
    overflow: hidden;
  }
}
/* I picked an arbitrary breakpoint for "wider than mobile" */
@media (min-width: 600px) {
  .panel {
    flex-direction: row;
    gap: 2rem;
    align-items: center;

  }

  /* use flex-basis (third value in the flex property) to proportionally size the text and image   */
  .panel > .text-content {
    flex: 1 1 40%;
  }

  .panel > .image-wrapper {
    flex: 1 1 60%;
    /* reset the order from mobile view */
    order: 0;
   
  }
  .panel .left {
    order: -1;
  }
  .hero {
    order: -1;
  }
  .menu-icon {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-around;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 0 0 3rem;
    padding: 0;
    font-family: 'Pacifico', cursive;
  }

  nav ul {
    flex: 1 0 auto;
    display: flex;
  }

  nav li {
    flex: 1 0 0;
    text-align: center;
    border: none;
  }

  nav li a {
    color: #000;
  }
}
@media (min-width: 600px) {
  .cards {
    flex-wrap: wrap;
    flex-direction: row;

  }
  .card {
    flex: 1 1 40%;
  }
  
  .hero .text-overlay {
    font-size: 2.5rem;
  }
  .cards .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    background-color: var(--card-background-color);
    padding: 2rem;
    opacity: 0;
    transition: opacity 300ms;
    transition: all .5s;
  }
  
  .cards .text-overlay:hover {
    opacity: 1;
  }
}
@media (min-width: 850px) {
  .cards {
    flex-wrap: nowrap;
  }
}

img {
  border: solid black 4px;
}

.cards img {
  border: none;
}

